<div class="card">
  <div class="card-body">
    <h4>Personal Details:</h4>
    <form [formGroup]="customerForm">
      <div class="form-row">
        <div class="col form-group ">
          <label for="first_name">First Name*</label>
          <input type="text" formControlName="first_name" class="form-control">
          <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">
            First name is required
          </div>
        </div>
        <div class="col form-group ">
          <label for="last_name">Last Name*</label>
          <input type="text" formControlName="last_name" class="form-control">
          <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">
            Last name is required
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col form-group">
          <label for="email">Email address*</label>
          <input type="email" class="form-control" formControlName="email">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            A valid email is required
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" formControlName="phone">
          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is not valid
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group ">
          <label for="gender">Gender*</label>
          <select class="custom-select form-control" formControlName="gender">
            <option selected></option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
            <option value="4">Prefer not to say</option>
          </select>
          <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
            Choose one option
          </div>
        </div>
        <div class="col form-group ">
          <label for="birthday">Date of Birth*</label>
          <input type="date" formControlName="birthday" class="form-control">
          <div [hidden]="birthday.valid || birthday.pristine" class="alert alert-danger">
            Age must be greater than 18
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="addressForm">
      <div class="form-row">
        <div class="col form-group ">
          <label for="address">Address*</label>
          <input type="text" formControlName="address" class=" form-control">
          <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            Address is required
          </div>
        </div>
        <div class="col form-group ">
          <label for="city">Town/City*</label>
          <input type="text" formControlName="city" class="form-control">
          <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
            City is required
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col form-group ">
          <label for="state">State / Country*</label>
          <select class="custom-select form-control" formControlName="state">
            <option selected></option>
            <option value="NSW">NSW</option>
            <option value="VIC">Victoria</option>
            <option value="SA">South Australia</option>
            <option value="QLD">Queensland</option>
            <option value="TAS">Tasmania</option>
            <option value="WE">Western Australia</option>
          </select>
          <div [hidden]="state.valid || state.pristine" class="alert alert-danger">
            Choose one option
          </div>
        </div>
        <div class="col form-group ">
          <label for="postcode">PostCode*</label>
          <input type="number" class="form-control" formControlName="postcode" maxlength="4">
          <div [hidden]="postcode.valid || postcode.pristine" class="alert alert-danger">
            Postcode is required
          </div>
        </div>
      </div>

    </form>

  </div>
  <div class="f1-buttons p-1">
    <button type="button" awPreviousStep class="btn btn-previous btn-step">Previous</button>
    <button type="button" (click)="updateBooking()" [disabled]="!customerForm.valid && !addressForm.Valid" awNextStep
      class="btn btn-next btn-step">Next</button>
  </div>
</div>