<div class="card">
  <div class="card-body">
    <h4>Checkout Details:</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            Details
          </div>
          <div class="card-body">
            <strong>Address:</strong>
            <div class="row">
              <div class="col-12">
                {{booking?.address?.address}}
              </div>
              <div class="col-12">
                Postcode: {{booking?.address?.postcode}}
              </div>
              <div class="col-12">
                State: {{booking?.address?.state}}
              </div>
              <div class="col-12">
                City: {{booking?.address?.city}}
              </div>
            </div>
            <strong>Personal Information</strong>
            <div class="row">

              <div class="col-12">
                Full Name: {{booking?.customer?.first_name}} {{booking?.customer?.last_name}}
              </div>
              <div class="col-12">
                Gender: {{booking?.customer?.gender}}
              </div>
              <div class="col-12">
                Birthday: {{booking?.customer?.birthday| date}}
              </div>
            </div>
            <strong>Contact</strong>

            <div class="row">
              <div class="col-12">
                Email: {{booking?.customer?.email}}
              </div>
              <div class="col-12">
                Phone: {{booking?.customer?.phone}}
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-header text-white bg-success">
            Payment
          </div>
          <div class="card-body">
            <strong>Payment Details</strong>
            <div class="row">
              <div class="col-12">
                Course: {{booking?.schedule?.course?.name}}, {{booking?.schedule?.course?.school?.name}}
              </div>
              <div class="col-12">
                Course Fee: {{booking?.schedule?.course?.price | currency}}
              </div>
              <div class="col-12">
                Service Fee: {{booking?.schedule?.course?.price * 0.05  | currency}}
              </div>
              <div class="col-12">
                Total: {{((booking?.schedule?.course?.price*1)+(booking?.schedule?.course?.price * 0.05)*1)  | currency}}
              </div>
            </div>
            <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
              <div id="card-element" class="field"></div>
              <button type="submit" class="btn-primary">
                Checkout
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="f1-buttons">
        <button type="button" awPreviousStep class="btn btn-previous btn-step">Previous</button>
        <button type="button" class="btn btn-next btn-step">Finisih</button>
      </div>
    </div>
  </div>