<div class="card">
  <div class="card-body p-0">
    <h5 class="card-title p-1">Select your city:</h5>
    <div class="container">
      <form [formGroup]="cityCourseForm">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-dark btn-sm active">
                <input class="form-check-input form-control" type="radio" formControlName="city" value="sydney">
                <i class="fas fa-map-marker-alt"></i>
                <fa name="map-marker"></fa>
                <div>Sydney</div>
              </label>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <a class="btn btn-outline btn-sm ">
              <fa name="map-marker"></fa>
              <p>Melbourne (Soon)</p>
            </a>

          </div>
          <div class="col d-flex justify-content-center">
            <a class="btn btn-outline btn-sm ">
              <fa name="map-marker"></fa>
              <p>Brisbane (Soon) </p>
            </a>
          </div>
        </div>
      </form>
    </div>
    <h5 class="card-title p-1 ">Select your course:</h5>
    <div class="container">

      <form [formGroup]="cityCourseForm">
        <div class="btn-group btn-group-toggle ml-5" ngbRadioGroup name="radioBasic" formControlName="course">

          <label ngbButtonLabel class="btn-outline-secondary " >
            <input ngbButton type="radio" value="RSA">
            <fa name="glass"></fa>
            <p>RSA</p>
          </label>
          <label ngbButtonLabel class="btn-outline-secondary ml-5 ">
            <input ngbButton type="radio" value="White Card">
            <fa name="wrench"> </fa>
            <p>White Card</p>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="f1-buttons p-2">
    <button type="button" (click)="enterFirstStep()" [disabled]="!cityCourseForm.valid" awNextStep
      class="btn btn-next btn-step">Next</button>
  </div>
</div>