<div class="card">
  <div class="card-body">

    <div *ngFor="let schedule of schedules| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as a">
      <ngb-accordion [closeOthers]="true">
        <ngb-panel id="{{a}}">
          <ng-template ngbPanelTitle>
            <span><i class="fa fa-calendar"></i> {{schedule[0].start_time |date}} </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row  border">
              <div class="col-3 p-0 text-center">
                School
              </div>
              <div class="col-3 p-0 text-center">
                Start
              </div>
              <div class="col-3 p-0 text-center">
                Price
              </div>
              <div class="col-3 p-0 text-center">
                Book
              </div>
            </div>

            <div *ngFor="let time of schedule; index as i">
              <div class="row border">
                <div class="col-3 p-0 text-center">
                  {{time.course.school.name}}
                </div>
                <div class="col-3 p-0 text-center">
                  {{time.start_time |date:'hh:mm' }}
                </div>
                <div class="col-3 p-0 text-center">
                  {{time.course.price |currency }}
                </div>
                <div class="col-3 p-0 text-center">
                  <div class="row">

                    <div class="col-6">
                      <div class="btn-group" data-toggle="buttons">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                          [(ngModel)]="booking.schedule">
                          <label ngbButtonLabel class="btn-outline-success btn-sm">
                            <input (change)="updated()" id="enum_answer_{{time.id}}" ngbButton type="radio" [value]='time'>
                            <fa name="calendar-check-o"> </fa>
                          </label>
                        </div>
                        <a (click)="details(i)" class="btn-info btn-sm">
                          <fa name="info"> </fa>
                        </a>
                      </div>
                    </div>
                  </div>



                </div>
                <div [ngbCollapse]="!collapse[i]">
                  <div class="card">
                    <div class="card-body hidden-line">
                      {{time.course.school.name}}
                      {{time.course.school.address.address}}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="schedules?.length"></ngb-pagination>

    <div class="f1-buttons pt-2">
      <button type="button" awPreviousStep class="btn btn-previous btn-step">Previous</button>
      <button type="button" [disabled]="valid" (click)="updateBooking()" awNextStep
        class="btn btn-next btn-step">Next</button>
    </div>

  </div>
</div>