body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background-image: url("./assets/img/backgrounds/1.jpg");
    background-color: #cccccc;
  }
  
  strong {
    font-weight: 500;
  }
  
  a,
  a:hover,
  a:focus {
    color: #f35b3f;
    text-decoration: none;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .table tr {
    cursor: pointer;
  }
  .hiddenRow {
    padding: 0 4px !important;
    
    font-size: 13px;
  }
  
  h1,
  h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
  }
  
  h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
  }
  
  h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
  }
  
  
  
  ::-moz-selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
  }
  ::selection {
    background: #f35b3f;
    color: #fff;
    text-shadow: none;
  }
  
  /***** Top menu *****/
  
  .navbar {
    padding-top: 10px;
    background: #333;
    background: rgba(51, 51, 51, 0.3);
    border: 0;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar.navbar-no-bg {
    background: none;
  }
  
  ul.navbar-nav {
    font-size: 16px;
    color: #fff;
  }
  
  .navbar-inverse ul.navbar-nav li {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .navbar-inverse ul.navbar-nav li .li-text {
    opacity: 0.8;
  }
  
  .navbar-inverse ul.navbar-nav li a {
    display: inline;
    padding: 0;
    color: #fff;
  }
  .navbar-inverse ul.navbar-nav li a:hover {
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
  }
  .navbar-inverse ul.navbar-nav li a:focus {
    color: #fff;
    outline: 0;
    opacity: 1;
    border-bottom: 1px dotted #fff;
  }
  
  .navbar-inverse ul.navbar-nav li .li-social a {
    margin: 0 5px;
    font-size: 28px;
    vertical-align: middle;
  }
  .navbar-inverse ul.navbar-nav li .li-social a:hover,
  .navbar-inverse ul.navbar-nav li .li-social a:focus {
    border: 0;
    color: #f35b3f;
  }
  
  .navbar-brand {
    width: 162px;
    background: url(./assets/img/logo.png) left center no-repeat;
    text-indent: -99999px;
  }
  
  /***** Top content *****/
  
  .top-content {
    padding: 40px 0 170px 0;
  }
  
  .top-content .text {
    color: #fff;
  }
  .top-content .text h1 {
    color: #fff;
  }
  .top-content .description {
    margin: 20px 0 10px 0;
  }
  .top-content .description p {
    opacity: 0.8;
  }
  .top-content .description a {
    color: #fff;
  }
  .top-content .description a:hover,
  .top-content .description a:focus {
    border-bottom: 1px dotted #fff;
  }
  
  .form-box {
    padding-top: 40px;
  }
  
  .f1 {
    padding: 15px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  .f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
  }
  
  .f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
  }
  .f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #f35b3f;
  }
  
  .f1-step {
    position: relative;
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .f1-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #ddd;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #f35b3f;
    color: #f35b3f;
    line-height: 38px;
  }
  .f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #f35b3f;
    font-size: 22px;
    line-height: 48px;
  }
  
  .f1-step p {
    color: #ccc;
  }
  .f1-step.activated p {
    color: #f35b3f;
  }
  .f1-step.active p {
    color: #f35b3f;
  }
  
  .f1 fieldset {
    display: none;
    text-align: left;
  }
  
  .f1-buttons {
    text-align: right;
  }
  
  .f1 .input-error {
    border-color: #f35b3f;
  }
  
  /***** Media queries *****/
  
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
    .navbar {
      padding-top: 0;
    }
    .navbar.navbar-no-bg {
      background: #333;
      background: rgba(51, 51, 51, 0.9);
    }
    .navbar-brand {
      height: 60px;
      margin-left: 15px;
    }
    .navbar-collapse {
      border: 0;
    }
    .navbar-toggle {
      margin-top: 12px;
    }
  
    .top-content {
      padding: 40px 0 110px 0;
    }
  }
  
  @media (max-width: 415px) {
    h1,
    h2 {
      font-size: 32px;
    }
  
    .f1 {
      padding-bottom: 20px;
    }
    .f1-buttons button {
      margin-bottom: 5px;
    }
  }
  
  /* Retina-ize images/icons */
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    /* logo */
    .navbar-brand {
      background-image: url(./assets/img/logo.png) !important;
      background-repeat: no-repeat !important;
      background-size: 162px 36px !important;
    }
  }
  




  //-----------------------------------------------------------------------//

  

textarea, 
textarea.form-control {
	height: 44px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	height: 90px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

label { font-weight: 300; }


button.btn-step {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn-step:hover { opacity: 0.6; color: #fff; }
button.btn-step:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn-step:focus,
button.btn-step:active:focus,
button.btn-step.active:focus { outline: 0; opacity: 0.6; color: #fff; }

button.btn-step.btn-next,
button.btn-step.btn-next:focus,
button.btn-step.btn-next:active:focus, button.btn.btn-next.active:focus { background: #f35b3f; }

button.btn-step.btn-submit,
button.btn-step.btn-submit:focus,
button.btn-step.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #f35b3f; }

button.btn-step.btn-previous,
button.btn-step.btn-previous:focus,
button.btn-step.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #bbb; }
