<div class="top-content ">
  <div class="container h-100 ">
    <div class="row h-100 justify-content-center align-items-center ">
      <div class="col-sm-8 col-sm-offset-2 text">
        <h1> <strong>AllCards1</strong> </h1>
        <div class="description">
          <p>
            Your next appointment starts here.
            <a href="http://allcards1.com"><strong>AllCards1</strong></a>
          </p>
        </div>
      </div>
    </div>
    <aw-wizard>
      <aw-wizard-step stepTitle="City/Course">
        <step1></step1>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Schedule">
        <step2></step2>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Details">
        <step3></step3>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Checkout">
        <step4></step4>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>